# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments & IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Logs & Large Checkpoints
logs/events.out.tfevents.*
models/checkpoint_ep*.pth
models/final_model.pth
!models/best_model.pth

# Environment variables & secrets
.env
.env.*
